<div class="container">
<!-- Make button responsive -->
    <div class="buttonMargin">
        <a mat-raised-button color="primary" href="/orders/form">
            <mat-icon>add</mat-icon>
            Add New Order
        </a>
    </div>

    <!-- <mat-grid-list cols="1" rowHeight="2:1" [cols]="cols">
        <mat-grid-tile *ngFor='let o of orders$ | async'>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>{{o.name}}</h2>
                        <h3>{{o.orderDate | date: 'dd-MMM-yyyy HH:mm'}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-actions>
                    <a mat-raised-button color="accent" [routerLink]="['/orders', o._id]">VIEW DETAILS</a>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> -->
    <!-- <div *ngIf="let orders of orders$ | async"> -->
        <table mat-table [dataSource]="dataSource"> 
            <!-- [dataSource]="orders" -->
            <ng-container matColumnDef="Customer Name">
                <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Order Date">
                <th mat-header-cell *matHeaderCellDef> Order Date </th>
                <td mat-cell *matCellDef="let element"> {{element.orderDate | date: 'dd-MMM-yyyy HH:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="Total Order Price">
                <th mat-header-cell *matHeaderCellDef> Total Order Price </th>
                <td mat-cell *matCellDef="let element"> € {{totalPrice(element) | number : '.2-2'}} </td>
            </ng-container>
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> 
                    <a mat-raised-button color="accent" [routerLink]="['/orders', element._id]">VIEW DETAILS</a>
                </td>
            </ng-container>
            <!-- Header -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Row -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    <!-- </div> -->
    
</div>